<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v5.0&appId=852735265076738&autoLogAppEvents=1"></script>
<div class='row'>
  <h2 class='text-dark'>Log in</h2>
</div>
<div class='row form-group'>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, class: 'text-dark' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password, class: 'text-dark' %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me, class: 'form-check-input' %>
        <%= f.label :remember_me, class: 'form-check-label text-dark' %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in",class: "btn btn-primary mt-4" %>
    </div>
  <% end %>
  <div class='d-block'>
      <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
  </div>
</div>
<div class='row mx-auto'>

  <%= render "devise/shared/links" %>
<div>
